* {

    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Poppins';

    text-decoration: none;

    list-style: none;

}

body {

    background: url('../images/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    min-height: 100vh;

    padding: 1rem;

}

.container {

    background: #ffffff80;

    border-radius: 15px;

    padding: 2rem;

}

header {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

header .divisoriaLogo {

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 225px;

}

header .divisoriaLogo .fas {

    color: white;

    font-size: 4.5rem;

    text-shadow: 0 0 5px black;

}

header .divisoriaLogo p {

    color: white;

    font-size: 1.5rem;
    font-weight: 400;

    text-shadow: 0 0 5px black;

}

header nav.menu ul {

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 800px;

}

header nav.menu ul a li {

    color: white;

    font-size: 1.5rem;
    font-weight: 400;

    text-align: center;
    text-shadow: 0 0 5px black;

    width: 150px;

    transition: 0.5s;

}

header nav.menu ul a li:hover {

    background: #0096B1;
    color: white;

    border: none;

    border-radius: 24px;

    box-shadow: 0 0 10px black;

}

main {

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 7rem 0 5rem 0;

}

main .divisoriaTextos .divisoriaTagH1 h1 {

    font-size: 2rem;
    font-weight: bolder;

    width: 500px;

}

main .divisoriaTextos .divisoriaTagP p {

    font-size: 1.1rem;
    font-weight: 400;

    width: 570px;

}

main .divisoriaTextos .divisoriaBotao {

    margin-top: 2rem;

}

main .divisoriaTextos .divisoriaBotao button {

    background: #0096B1;
    color: white;

    font-size: 1.1rem;

    border: none;

    border-radius: 24px;

    box-shadow: 0 0 10px black;

    padding: 0.25rem 1rem;

    cursor: pointer;

    transition: 0.2s;

}

main .divisoriaTextos .divisoriaBotao button:hover {

    background: #ffffff99;
    color: #0096B1;

    font-weight: bolder;

}

main footer {

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;

    background: #0096B1;

    border-radius: 24px;

    height: 300px;
    width: 40px;

    padding: 1rem;

    transition: 0.2s;

}

main footer .fab {

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

    font-size: 1.6rem;

    border-radius: 50px;

    transition: 0.5s;

    width: 40px;
    height: 40px;

}

main footer .fab:hover {

    background: #011E2C;

    box-shadow: 0 0 5px #011E2C;

    transform: rotate(720deg) scale(1.2);

}

.divisoriaCreditos {

    background: #ffffff80;

    border-radius: 15px;

    width: 300px;

    text-align: center;

    margin: 1rem auto 0 auto;
    padding: 0.5rem 0;

}

.divisoriaCreditos p {

    font-weight: bolder;

}

.divisoriaCreditos .fab {

    display: flex;
    align-items: center;
    justify-content: center;

    background: #0096B1;
    color: white;

    font-size: 1.6rem;

    border-radius: 50px;

    transition: 0.5s;

    width: 40px;
    height: 40px;

    margin: auto;

}

.divisoriaCreditos .fab:hover {

    background: white;
    color: #011E2C;

    box-shadow: 0 0 5px #011E2C;

    transform: rotate(720deg) scale(1.2);

}

#inputCheckbox {

    display: none;

}

label {

    display: none;
    align-items: center;
    justify-content: center;

    color: #011E2C;

    font-size: 1.6rem;

    border-radius: 10px;
    text-shadow: 0 0 5px #011E2C;

    width: 40px;
    height: 40px;

    cursor: pointer;

    transition: 0.2s;

}

label:hover {

    background: #011E2C;
    color: white;

    border-radius: 10px;
    box-shadow: 0 0 5px;

    text-shadow: 0 0 5px #0096B1;

}

@media(max-width: 1150px) {

    header nav.menu ul {

        width: 600px;

    }

    header nav.menu ul a li {

        width: 120px;

    }

}

@media(max-width: 950px) {

    label {

        display: flex;

        top: 25px;

        transition: 0.5s;

    }

    #inputCheckbox:checked~nav.menu {

        left: 0;

    }

    #inputCheckbox:checked~label {

        position: fixed;
        
        
        z-index: 1;

    }

    header nav.menu {

        position: fixed;
        top: 0;
        left: -100vw;

        transition: 0.5s;

    }

    header nav.menu ul {

        flex-direction: column;

        background: #ffffffaf;

        width: 100vw;
        min-height: 100vh;

        padding: 6rem 0 10rem 0;

    }

    header nav.menu ul a li {

        background: #0096b152;
        color: #011E2C;

        font-size: 2rem;
        font-weight: bolder;

        text-shadow: none;

        width: 100vw;

        padding: 1.5rem 0;

    }

    header nav.menu ul a li:hover {

        border-radius: 0px;

    }

    main {

        margin: 5rem 0 3rem 0;

    }

}

@media(max-width: 750px) {

    main {

        flex-direction: column;

    }

    main footer {

        flex-direction: row;

        width: 300px;
        height: 40px;

        margin-top: 2rem;

    }

}

@media(max-width: 650px) {

    body {

        padding: 3rem 0;

    }

    main .divisoriaTextos .divisoriaTagH1 h1,
    main .divisoriaTextos .divisoriaTagP p {

        text-align: center;

        margin: 1rem auto;

        width: 400px;

    }

    main .divisoriaTextos .divisoriaBotao {

        margin: auto;

        width: 300px;

    }

    main .divisoriaTextos .divisoriaBotao button {

        width: 300px;

    }

    main .divisoriaTextos .divisoriaBotao {

        margin: 2rem auto 0 auto;

    }

}

@media(max-width: 500px) {

    main .divisoriaTextos .divisoriaTagH1 h1 {

        font-size: 1.8rem;

        width: 300px;

    }

    main .divisoriaTextos .divisoriaTagP p {

        width: 300px;

    }

}
